[color]
  diff = auto
  grep = auto
  status = auto
  branch = auto

[core]
  excludesfile = /Users/jacobsa/.gitignore

[alias]
  a = add
  b = branch
  c = commit
  co = checkout
  d = diff
  h = help
  m = merge
  noffmerge = merge --no-ff
  s = status
  sh = show

  # Commit all with an message (which need not be quoted).
  cm = "!f() { git commit -a -m \"$*\" ; }; f"

[user]
  name = Aaron Jacobs
	email = jacobsa@google.com

[push]
  default = matching
[http]
	cookiefile = /Users/jacobsa/.gitcookies
